// Adapted from 7-three-bounce SCSS - https://github.com/tobiasahlin/SpinKit
$spinkit-spinner-margin: auto;
$spinkit-size: 1.5rem;
$spinkit-spinner-color: #767676;
.loaderWrapper {
  width: 100%;
  height: 200px;
  text-align: center;
  position: relative;
}

.loader {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.skThreeBounce {
  $animationDuration: 1.4s;
  $delayRange: 0.32s;
  margin: $spinkit-spinner-margin;
  width: $spinkit-size * 2;
  text-align: center;
  div {
    width: $spinkit-size / 2;
    height: $spinkit-size / 2;
    background-color: $spinkit-spinner-color;
    border-radius: 100%;
    display: inline-block;
    animation: sk-three-bounce $animationDuration ease-in-out infinite both;
  }
  .skBounce1 { animation-delay: -$delayRange; }
  .skBounce2 { animation-delay: -$delayRange / 2; }
}

.label {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}

.loaderIcon {
  height: 1.5rem;
  margin: auto;
  z-index: 100;
}
.loading {
  position: relative;
}

@keyframes sk-three-bounce {
  from {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
  80% {
    transform: scale(0);
  }
  to {
    transform: scale(0);
  }
}
