@import '../styles/shared.scss';

.confirmTable {
  width: 100%;
  .title {
    min-width: 190px;
  	font-size: 16px;
  	color: #323232;
    line-height: 24px;
  }

  .value {
    width: 50px;
  	line-height: 24px;
  	font-size: 16px;
  	font-weight: 600;
  	color: #323232;
  }
  padding-bottom: 45px;
  margin-bottom: 45px;
  border-bottom: solid 1px #dedede;
}

.confirmBtn {
  width: 287px;
	height: 48px;
	border-radius: 4px;
	border: solid 1px #e40000;
  background: transparent;
  color: #e40000;
  font-size: 16px;
  display: block;
}

.confirmNote {
  width: 100%;
  font-size: 14px;
  color: #666666;
  text-transform: uppercase;
  margin: 45px 0px;
}
