@import '../styles/shared.scss';

.panel {
  background-color: #f5f5f5;
  width: 100%;
  max-width: 769px;
  padding: 25px 40px;
  margin: 30px auto;

  p {
    font-size: 16px;
    color: #323232;
    margin: 0;
    line-height: 18px;
    @media (min-width: 720px) {
      line-height: 50px;
    }
    strong {
      font-weight: bold;
    }
  }
  h3 {
    font-size: 28px;
    font-weight: bold;
    color: #323232;
    margin: 0;
    @media (min-width: 720px) {
      height: 41px;
      line-height: 45px;
      text-align: right;
    }
  }
  button {
    height: 50px;
    border-radius: 4px;
    color: #FFF;
    text-transform: uppercase;
    width: 90%;
    max-width: 270px;
    float: none;
    margin: 0 auto;
    border: none;
    font-family: 'Ciutadella', sans-serif;
    font-size: 14px;
    line-height: 50px;
    letter-spacing: 1.3;
    background-color: #ee0000;
    transition: background-color 0.1s linear;
  }
  button[disabled=disabled], button:disabled {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .cbox {
    padding: 7px 0px;
    @media (min-width: 720px) {
      padding: 20px 0px;
    }
    a {
      color: #e40000;
      text-decoration: none;
    }
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      padding-left: 1.95em;
      cursor: pointer;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      left: 0; top: 0;
      border: 2px solid #ccc;
      background: #fff;
      width: 1.25em;
      height: 1.25em;
	    background-color: #ffffff;
	    border: solid 2px #dadada;
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      content: '✔';
      position: absolute;
      top: .1em; left: .3em;
      font-size: 14px;
      line-height: 0.8;
      transition: all .2s;
    }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd;
    }
    [type="checkbox"]:disabled:checked + label:after {
      color: #999;
    }
    [type="checkbox"]:disabled + label {
      color: #aaa;
    }
  }
}
