$knob-width: 46px;
$knob-height: 26px;

.slider[disabled] {
  opacity: 0.3;
}
.container {
  margin-right: $knob-width;
  width: calc(100% - 46px);
}

.knob {
  width: $knob-width + 2;
  height: $knob-height + 2;
  top: 4px;
}

.progress{
  left: $knob-width / 2 !important;
  width: 100% !important;
}



.innerknob {
  width: $knob-width;
  height: $knob-height;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #a7a7a7;
  background-image: url('../assets/handle.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 3px;
}

.ring {
  .knob {
    .innerknob {
      background-color: #ffffff !important;
      border: solid 1px #a7a7a7 !important;
    }
  }
}

.progress .innerprogress {
  height: 8px;
  background: #f9f9f9;
  box-shadow: inset 0 0 5px 0;
  border-radius: 3px;
}

.progress .innerprogress [data-ref='value'] {
  background-color: transparent;
}
