@import 'mixins';
/** Global gutter size
 * used in .row, and .half
 */
$gutter: 22px;
/**
 * Setting global styles
 */
.topUpWidget {
  margin-bottom: 30px;
  @media (min-width: 720px) {
    margin-bottom: 40px;
  }
  * {
    box-sizing: border-box;
  }

  h1 {
    width: 100%;
    font-family: 'Ciutadella', sans-serif;
    border-bottom: solid 1px #dedede;
    font-size: 24px;
    font-weight: bold;
    color: #323232;
    padding-bottom: 10px;
    margin-bottom: 25px;
    @media (min-width: 720px) {
      margin-bottom: 45px;
    }
  }

  /**
   * simple grid tools
   */
   .row {
     margin-left: -$gutter;
   }
   .half {
     width: 100%;
     margin-bottom: $gutter / 2;
     padding-left: $gutter;
     display: inline-block;
     min-height: 1px;
     vertical-align: top;
     @media (min-width: 721px) {
       width: 50%;
       margin-bottom: $gutter;
     }
     /* nested half are halfs */
     .row {
       .half {
         width: 50%;
         margin-bottom: 0px;
       }
     }
   }
   .onlySmall {
     display: block;
     @media (min-width: 721px) {
       display: none;
     }
   }

   /**
    * Global forms settings
    */
    label {
      width: 100%;
      display: block;
      font-size: 14px;
      color: #323232;
      margin-bottom: 5px;
    }

    input[type="number"],
    input[type="text"] {
      width: 100%;
      height: 45px;
      background-color: #ffffff;
      border: solid 2px #dadada;
      font-size: 16px;
      color: #323232;
      line-height: 45px;
      padding: 0 20px;
    }

    select {
      border: solid 2px #dadada;
      background-color: #ffffff;
      border-radius: 0;
      width: 100%;
      padding: 0 20px;
      font-size: 16px;
      height: 45px;
      line-height: 45px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: #323232;
    }

    .panel {
      max-width: 620px;
      width: 100%;
      margin: 0 auto;
      &.darker {
        border-radius: 4px;
        background-color: #f5f5f5;
        border: solid 1px #dadada;
        padding: 20px;
        @media (min-width: 720px) {
          padding: 30px 20px;
        }
      }
      &.wider {
        max-width: 769px;
      }
    }
    .error {
      color: #e40000;
      font-size: 11px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}
