@import '../styles/shared.scss';


  .fixedRow {
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    @include clearfix();
  }
  .warning {
    width: 100%;
    background-color: #fcebcd;
    font-size: 14px;
    padding: 1px 10px 1px 30px;
    position: relative;
    margin-bottom: 20px;
    &.infoGreen {
      background: #8de2e0;
    }
    .title {
      font-weight: bold;
      display: block;
      width: 100%;
      margin: 10px 0px;
      position: relative;
    }
    .message {
      display: block;
      width: 100%;
      position: relative;
      margin: 10px 0px;
      &:before {
        content: '•';
        position: absolute;
        left: -10px;
      }
    }
  }
