@import '../styles/shared.scss';
.topUpWidget {
  .center {
    margin-bottom: 15px;
    text-align: center;
  }

  .balance {
    color: #323232;
    display: inline-block;
    font-size: 16px;
    padding-right: 20px;
    &:last-child {
      padding-right: 0;
    }

    span {
      font-weight: bold;
    }
  }
}

.panel {
  .fixedRow {
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    @include clearfix();
    &.sliderRow {
      max-width: 484px;
      margin-bottom: 20px;
    }
  }
  h1 {
	font-family: Ciutadella;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #323232;
  margin-bottom: 20px;
  margin-top: 0px;
  }
  .footNote {
    width: 100%;;
    font-size: 14px;
    color: #323232;
    text-align: center;
    margin-top: 5px;
    a {
      color: #e40000;
      text-decoration: none;
    }
  }
  .sliderLabel {
    width: 50%;
    display: inline-block;
    font-size: 14px;
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
      text-align: right;
    }
  }
}
